body {
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

#root {
  max-width: 1010px;
  height: 100%;

  margin: 0 auto;
  padding: 0;
}

.content {
  padding: 21px 32px;
  background-color: #fff;

}

.content__list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-auto-rows: 40px; */
  row-gap: 37px;
  column-gap: 35px;
}

.content__list-item {
  width: 451px;
  height: 279px;
  display: flex;
}

.pic {
  background-color: aqua;
  width: 183px;
  height: 100%;
}

.description {
  padding: 12px 20px;
}