@font-face {
  font-weight: 400;
  font-family: 'Inter regular';
  src: local('Inter regular'), url('./font/inter_regular.woff2');
}

body {
  font-family: 'Inter regular', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;
}

p,
h1,
h2,
h3,
li,
ul {
  margin: 0;
  padding: 0;
}

p {
  font-size: 12px;
  line-height: 22px;
}

#root {
  max-width: 1010px;

  margin: 0 auto;
  padding: 0;
}

.content {
  padding: 21px 32px;
  background-color: #fff;
}

.content__search {
  box-sizing: border-box;
  border: 1px solid rgb(217, 217, 217);
border-radius: 4px;
background: rgb(255, 255, 255);
}

.content__list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 37px;
  column-gap: 35px;
  margin: 36px 0;
}

.content__list-item {
  width: 451px;
  height: 279px;
  display: flex;
}

.date {
  color: rgb(130, 126, 126);
  margin-bottom: 16px;
}

.title {
  font-size: 16px;
  margin-bottom: 10px;
}

.pic {
  max-width: 183px;
  height: 100%;
  background-color: aqua;
}

.description {
  padding: 12px 20px;
}

.genre {
  margin-bottom: 7px;
}


.plot-movie {
  overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
}

.content__list-item {
  box-shadow: -2px 3px 9px rgba(0, 0, 0, 0.2);
}
.spiner {
  margin-top: 10px;
}

.pagination, .alert-error {
  text-align: center;
}
