@font-face {
  font-weight: 400;
  font-family: 'Inter regular';
  src: local('Inter regular'), url('./font/inter_regular.woff2');
}

body {
  font-family: 'Inter regular', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;
}

p,
h1,
h2,
h3,
li,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  font-size: 12px;
  line-height: 22px;
}

.ant-tabs > .ant-tabs-nav {
  margin: 0 auto;
}

.ant-tabs-content-holder {
  margin-top: 20px;
}

#root {
  max-width: 1010px;

  margin: 0 auto;
  padding: 0;
}

.content {
  padding: 21px 32px;
  background-color: #fff;
}

.content__search {
  box-sizing: border-box;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 4px;
  background: rgb(255, 255, 255);
}

.content__list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 37px;
  column-gap: 35px;
  margin: 36px 0;
}

.content__list-item {
  position: relative;
  width: 451px;
  min-height: 279px;
  display: flex;

  box-shadow: -2px 3px 9px rgba(0, 0, 0, 0.2);
}

.overall-rating {
  position: absolute;
  top: 11px;
  right: 8px;
  border-radius: 100%;
  padding: 6px 8px;
}

.date {
  color: rgb(130, 126, 126);
  margin-bottom: 16px;
}

.title {
  width: 194px;
  font-size: 16px;
  margin-bottom: 10px;
}

.pic {
  max-width: 183px;
  height: 100%;
  background-color: aqua;
}

.description {
  padding: 12px 20px;
}

.genre {
  margin-bottom: 7px;
}

.plot-movie {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.description {
  margin-bottom: 10px;
}

ul.ant-rate {
  position: absolute;
  bottom: 12px;
}

.spiner {
  width: 100%;
  margin-top: 10px;
}

.spiner__component {
  width: 100px;
  margin: 0 auto;
}

.pagination,
.alert-error {
  text-align: center;
}

.genres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;

  margin-bottom: 7px;
}

.genres__item {
  font-size: 12px;
  padding: 2px 5px;
  color: rgba(0, 0, 0, 0.65);
  background: rgb(250, 250, 250);
  border: 1px solid rgb(217, 217, 217);
}
